
@model MVC_Kutuphane_Otomasyonu.Entities.Model.Duyurular
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                Duyuru Listesi


            </div>
            <div class=" ibox-body">
                <table class="table table-bordered table-striped" id="tbl">
                    <thead>
                        <tr>

                            <th>Id</th>
                            <td>Başlık</td>
                            <td>Duyuru</td>
                            <td>Açıklama</td>
                            <td>Tarih</td>
                            <td>İşlemler</td>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
                <div class="form-group">
                    @Html.ActionLink("Yeni", "Ekle", null, new { @class = "btn btn-success" })


                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#dataModal">
        Yeni Duyuru
    </button>
</div>



<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="dataModalLabel">Duyuru Ekleme Sayfası</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="data-form">
                    <div id="textSil">
                        <div class="form-group">

                            @Html.TextBoxFor(a => a.Baslik, new { @class = "form-control", placeholder = "Başlık22", id = "txtBaslik" })
                            @Html.ValidationMessageFor(x => x.Baslik, "", new { @class = "text-danger" })


                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Duyuru, new { @class = "form-control", placeholder = "Duyuru" })
                            @Html.ValidationMessageFor(x => x.Duyuru, "", new { @class = "text-danger" })


                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(a => a.Aciklama, new { @class = "form-control", placeholder = "Açıklama" })
                            @Html.ValidationMessageFor(x => x.Aciklama, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Tarih, new { @class = "form-control", type = "datetime-local" })
                            @Html.ValidationMessageFor(x => x.Tarih, "", new { @class = "text-danger" })


                        </div>
                        <div class="form-group">

                            <button type="submit" class="btn btn-success">Ekle</button>

                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>

</div>

<script src="~/AdminDashboard/admincast-master/html/dist/assets/vendors/moment/min/moment.min.js"></script>
<script src="~/AdminDashboard/admincast-master/html/dist/assets/vendors/jquery/dist/jquery.min.js"></script>
<script>
        function Listele () {
            $.ajax({
                type: 'get',
                url: '@Url.Action("DuyuruList")',
                success: function (data) {
                    $('#tbl tbody').html('');


                    $.each(data, function (Index, item) {
                        $('#tbl tbody').html(' ');
                        var millisecond = parseInt(item.Tarih.substr(6));
                        var formattedDate = moment(millisecond).format('DD.MM.YYYY HH:mm:ss')

                        var row = '<tr><th>' + item.Id + '</th>< td >'
                            + item.Baslik + '</td><td >'
                            + item.Duyuru + '</td><td>'
                            + item.Aciklama + '</td ><td>'
                            + formattedDate + ' </td > <td>'
                            + '<a href=/Duyurular/Duzenle/' + item.Id + ' class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a> | '
                            + '<a href = /Duyurular/Detay/' + item.Id + ' class="btn btn-info btn-sm" > <i class="fa fa-info"></i></a>  | '
                            + '<a href=/Duyurular/Sil/' + item.Id + ' class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>  '

                            + '</td ></tr > ';

                        $('#tbl tbody').append(row);
                    });


        },
                error: function (error)
                {
                    console.log(error);
                }
            });
        }
</script>
<script>
    $(document).ready(function () {

        Listele();

    });
</script>
<script>

        $(document).ready(function () {
            $('#data-form').submit(function (e) {
                e.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    method: 'post',
                    url: '@Url.Action("DuyuruEkle")',
                    data: formData,
                    success: function (result)
                    {
                        if (result.success)
                        {
                            Listele();
                            $('#dataModal').modal('hide');
                            alert(result.message);
                        }
                        else
                        {

                        }

                    }


                    });
            });
        });
</script>
