
@model MVC_Kutuphane_Otomasyonu.Entities.Model.Duyurular
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg">
        <div class="form-group">
            <button class="btn btn-danger" type="submit" id="silButton">Seçili Sil</button>

        </div>
        <div class="ibox">
            <div class="ibox-head">
                Duyuru Listesi


            </div>
            <div class=" ibox-body">
                <table class="table table-bordered table-striped" id="tbl">
                    <thead>
                        <tr>
                            <td><input type="checkbox" id="tdCheck"/></td>
                            <th>Id</th>
                            <td>Başlık</td>
                            <td>Duyuru</td>
                            <td>Açıklama</td>
                            <td>Tarih</td>
                            <td>İşlemler</td>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dataModal" onclick="Ekle()">
                        Yeni Duyuru
                    </button>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="dataModalLabel">Duyuru Ekleme Sayfası</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="data-form">
                    <div id="textSil">

                        <div class="form-group">

                            @Html.TextBoxFor(a => a.Id, new { @class = "form-control", placeholder = "Başlık", id = "txtId", Value = 0, disabled = "true" })
                            @Html.ValidationMessageFor(x => x.Baslik, "", new { @class = "text-danger" })


                        </div>

                        <div class="form-group">

                            @Html.TextBoxFor(a => a.Baslik, new { @class = "form-control", placeholder = "Başlık", id = "txtBaslik" })
                            @Html.ValidationMessageFor(x => x.Baslik, "", new { @class = "text-danger" })


                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Duyuru, new { @class = "form-control", placeholder = "Duyuru", id = "txtDuyuru" })
                            @Html.ValidationMessageFor(x => x.Duyuru, "", new { @class = "text-danger" })


                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(a => a.Aciklama, new { @class = "form-control", placeholder = "Açıklama", id = "txtAciklama" })
                            @Html.ValidationMessageFor(x => x.Aciklama, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Tarih, new { @class = "form-control", type = "datetime-local", id = "txtTarih" })
                            @Html.ValidationMessageFor(x => x.Tarih, "", new { @class = "text-danger" })


                        </div>
                        <div class="form-group">

                            <button type="submit" class="btn btn-primary">Kaydet</button>

                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>

</div>

<script src="~/AdminDashboard/admincast-master/html/dist/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/AdminDashboard/admincast-master/html/dist/assets/vendors/moment/min/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
        function Listele () {
            $.ajax({
                type: 'get',
                url: '@Url.Action("DuyuruList")',
                success: function (data) {
                    $('#tbl tbody').html('');


                    $.each(data, function (Index, item) {

                        var millisecond = parseInt(item.Tarih.substr(6));
                        var formattedDate = moment(millisecond).format('DD.MM.YYYY HH:mm:ss')

                        var row = '<tr><th>' + item.Id + '</th>< td >'
                            + item.Baslik + '</td><td >'
                            + item.Duyuru + '</td><td>'
                            + item.Aciklama + '</td ><td>'
                            + formattedDate + ' </td > <td>'
                            + '<a href=# class="btnDuzenle btn btn-warning btn-sm"data-id="'+item.Id+'"><i class="fa fa-edit"></i></a> | '
                            + '<a href = /Duyurular/Detay/' + item.Id + ' class="btn btn-info btn-sm" > <i class="fa fa-info"></i></a>  | '
                            + '<a href=# data-id= "'+ item.Id +'" class="btnSil btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>  '

                            + '</td ></tr > ';

                        $('#tbl tbody').append(row);
                    });


        },
                error: function (error)
                {
                    console.log(error);
                }
            });
        }
</script>
<script>
    $(document).ready(function () {

        Listele();

    });
</script>
<script>

        $(document).ready(function () {
            $('#data-form').submit(function (e) {
                e.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    method: 'post',
                    url: '@Url.Action("DuyuruEkle")',
                    data: formData,
                    success: function (result)
                    {
                        if (result.success)
                        {
                            Listele();
                            $('#dataModal').modal('hide');
                            alert(result.message);
                            Temizle();
                        }
                        else
                        {
                            $.each(result.errors, function (key, value)
                            {
                                $('[data-valmsg-for="' + key + '"]').text('');
                                $('[data-valmsg-for="' + key + '"]').text(value[0]);

                            });
                        }

                    }


                    });
            });
        });
</script>
<script>
    $(document).on('click', '.btnDuzenle', function () {
        var Id = $(this).data('id');

        $('#dataModalLabel').html(Id + 'Nolu Duyuru Güncelleme İşlemi');
        $.ajax({
            url: '/Duyurular/DuyuruGetir/',
            type: 'get',
            dataType: 'json',
            data: { Id: Id },
            success: function (result) {
                $('#dataModal').modal('show');
                $('#dataId').modal(result.Id);
                $('#txtBaslik').val(result.Baslik);
                $('#txtDuyuru').val(result.Duyuru);
                $('#txtAciklama').val(result.Aciklama);

                var timestamp = parseInt(result.Tarih.replace("/Date(", "").replace(")/", ""));
                var serverDate = new Date(timestamp);
                var correctedDate = new Date(serverDate.getTime() - serverDate.getTimezoneOffset() * 60000);
                var formattedDate = correctedDate.toISOString().slice(0, 16);

                $('#txtTarih').val(formattedDate);
            },
            error: function () {
                alert('Bir hata oluştu');
            }
        });

    });
</script>

<script>
    function Temizle() {
        $('#data-form')[0].reset(); // Formun sıfırlanması
        $('#dataModalLabel').html('Duyuru Ekleme Sayfası');
        $('#txtId').val('0');
    }
</script>

<script>

    function Ekle() {
        Temizle();
    }

</script>


<script>

    $(document).on('click', '.btnSil', function () {
        var Id = $(this).data('id');
        var deleteTR = $(this).closest('tr');
        $.ajax({
            type: 'get',
            url: '/Duyurular/DuyuruGetir/',
            data: { Id: Id },
            success: function (result) {
                var timestamp = parseInt(result.Tarih.replace("/Date(", "").replace(")/", ""));
                var serverDate = new Date(timestamp);
                var correctedDate = new Date(serverDate.getTime() - serverDate.getTimezoneOffset() * 60000);
                var formattedDate = correctedDate.toISOString().slice(0, 16);

                Swal.fire({
                    title: 'Kayıt Silme!',
                    html: '<b>Id:</b>' + result.Id + '<br/><b>Başlık:</b>' + result.Baslik +
                        '<br/><b>Duyuru:</b>' + result.Duyuru + '<br/><b>Açıklama:</b>' + result.Aciklama + '<br/><b>Tarih:</b>' + formattedDate,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Evet!',
                    cancelButtonText: 'Hayır!'
                }).then((result) => {
                    if (result.isConfirmed) {

                        $.ajax({
                            type: 'post',
                            url: '/Duyurular/DuyuruSil/',
                            data: { Id: Id },
                            success: function () {
                                deleteTR.remove();
                                Swal.fire(
                                    'Silindi!',
                                    'Kayıt silme işlemi başarıyla gerçekleşti.',
                                    'success'
                                )
                            }, error: function () {

                                alert('Silme işlemi başarısız oldu.');
                            }
                        });
                    }
                })

            },
            error: function () {
                alert('Bir hata oluştu.');
            }
        });
    });
</script>